body {
  margin: 0;
  padding: 0;
  background: url(../images/pattern-background-mobile.svg) #e0e8ff top center/100% 50% no-repeat fixed;
  font-family: Red Hat Display;
}

body .dev {
  color: #1f2f56;
  margin-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

body .dev .lien-dev {
  text-decoration: none;
  color: #1f2f56;
}

body .challenge {
  position: absolute;
  color: #1f2f56;
  margin-right: 15px;
  bottom: 0;
  right: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

body .challenge .lien-frontend-mentor {
  text-decoration: none;
  color: #1f2f56;
}

body .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
  height: max-content;
  background-color: white;
  border-radius: 15px;
}

@media screen and (max-width: 1200px) {
  body .content {
    width: 45vw;
  }
}

@media screen and (max-width: 850px) {
  body .content {
    width: 60vw;
  }
}

@media screen and (max-width: 550px) {
  body .content {
    width: 90vw;
  }
}

body .content .img-content {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 32%;
}

body .content .under-img {
  height: 68%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  margin-bottom: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  body .content .under-img {
    margin: 30px;
    margin-bottom: 18px;
  }
}

body .content .under-img .title {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bolder;
}

body .content .under-img .text {
  font-size: 16px;
  margin-top: 15px;
  color: #7280a7;
  font-weight: 700;
  line-height: 1.5;
}

body .content .under-img .article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  padding: 20px;
  background-color: #f5f7ff;
  border-radius: 10px;
}

body .content .under-img .article .img-text {
  display: flex;
  align-items: center;
}

body .content .under-img .article .img-text .text-article {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

body .content .under-img .article .img-text .text-article .annual {
  font-weight: bold;
}

body .content .under-img .article .img-text .text-article .price {
  color: #7280a7;
  font-weight: 500;
}

body .content .under-img .article .change {
  font-weight: bold;
  font-size: 14px;
}

body .content .under-img .article .change:hover {
  text-decoration: none;
  color: rgba(56, 41, 224, 0.7);
}

body .content .under-img .boutons {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

body .content .under-img .boutons .bouton-pay {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: white;
  background-color: #3829e0;
  box-shadow: 0px 15px 10px rgba(49, 48, 48, 0.2);
}

body .content .under-img .boutons .bouton-pay:hover {
  cursor: pointer;
  background-color: rgba(56, 41, 224, 0.8);
}

body .content .under-img .boutons .cancel {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  background-color: transparent;
  color: #7280a7;
  font-weight: 800;
  margin-top: 10px;
  margin: 0;
}

body .content .under-img .boutons .cancel:hover {
  color: black;
  cursor: pointer;
}
