$Pale_blue: hsl(225, 100%, 94%);
$Bright_blue: hsl(245, 75%, 52%);
$Very_pale_blue: hsl(225, 100%, 98%);
$Desaturated_blue: hsl(224, 23%, 55%);
$Dark_blue: hsl(223, 47%, 23%);

body {
    margin: 0;
    padding: 0;
    background: url(../images/pattern-background-mobile.svg) $Pale_blue top
    center / 100% 50% no-repeat fixed;
    font-family: Red Hat Display;

    .dev {
        color: $Dark_blue;
        margin-left: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        .lien-dev {
            text-decoration: none;
            color: $Dark_blue;
        }
    }

    .challenge {
        position: absolute;
        color: $Dark_blue;
        margin-right: 15px;
        bottom: 0;
        right: 0;
        font-weight: bold;
        letter-spacing: 1px;

        .lien-frontend-mentor {
            text-decoration: none;
            color: $Dark_blue;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 29vw;
        height: max-content;
        background-color: white;
        border-radius: 15px;

        @media screen and (max-width: 1200px ) {
            width: 45vw;
        }

        @media screen and (max-width: 850px) {
            width: 60vw;
        }

        @media screen and (max-width:550px){
            width: 90vw;
        }

       


        .img-content {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            height: 32%;
        }

        .under-img {
            height: 68%;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 50px;
            margin-bottom: 20px;
            margin-top: 40px;

            @media screen and (max-width: 768px) {
                margin: 30px;
                margin-bottom: 18px;
            }

            .title {
                font-size: 25px;
                letter-spacing: 1px;
                font-weight: bolder;
            }

            .text {
                font-size: 16px;
                margin-top: 15px;
                color: $Desaturated_blue;
                font-weight: 700;
                line-height: 1.5;
            }

            .article {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 17px;
                padding: 20px;
                background-color: $Very_pale_blue;
                border-radius: 10px;

                .img-text {
                    display: flex;
                    align-items: center;

                    .text-article {
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;

                        .annual {
                            font-weight: bold;
                        }

                        .price {
                            color: $Desaturated_blue;
                            font-weight: 500;
                        }
                    }
                }
                .change {
                    font-weight: bold;
                    font-size: 14px;

                    &:hover {
                        text-decoration: none;
                        color: rgba($color: $Bright_blue, $alpha: 0.7);
                    }
                }
            }

            .boutons {
                display: flex;
                flex-direction: column;
                margin-top: 25px;

                .bouton-pay {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-radius: 7px;
                    border: none;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    color: white;
                    background-color: $Bright_blue;
                    box-shadow: 0px 15px 10px rgba(49, 48, 48, 0.2);

                    &:hover {
                        cursor: pointer;
                        background-color: rgba($color: $Bright_blue, $alpha: 0.8);
                    }
                }

                .cancel {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border: none;
                    background-color: transparent;
                    color: $Desaturated_blue;
                    font-weight: 800;
                    margin-top: 10px;
                    margin: 0;

                    &:hover {
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
